server {
  # listen for traffic on standard HTTP port 80:
    listen  80;
  # customize your domain or replace by IP adress:
    server_name your.domain.tld;

    location / {
      # adress and port of your appserver, most likely localhost:
        proxy_pass http://127.0.0.1:5000;
        proxy_set_header X-Forwarded-Host $server_name;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
