{% extends "base.html" %}
{% block title %} - Edit Site{% endblock %}

{% block head %}

  {{ super() }}

  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />

  <style>
    #map {
      width: auto;
      height: 300px;
    }
  </style>

{% endblock %}

{% block content %}

  <div class="page-header">
    <h2>Site: {{ site.site_name }}</h2>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">

          <div id='map'></div>

          <script>
            var map = L.mapbox.map('map', 'leak-my-brain.ipkfmkei')
              .setView([0, 0], 0);

            var featureLayer = L.mapbox.featureLayer()
              .addTo(map);

            featureLayer.loadURL('{{ url_for('data', site_id=site_id) }}');
          </script>

        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6">
      Placeholder for Metadata
    </div>
  </div>

  <!-- Panel -->
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Add Record</h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">

      <!-- Row -->
      <div class="row">
        <!-- Form -->
        <form action="{{ url_for('edit', site_id=site.id) }}" method="post">
            {{ form.hidden_tag() }}
        <div class="form-group col-xs-2">
          <!--{{ form.depth.label }}-->
          {{ form.depth(size=20, class="form-control", placeholder="Depth [m]") }}
          {% for error in form.errors.depth %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-2">
          <!--{{ form.upper_boundary.label }}-->
          {{ form.upper_boundary(size=20, class="form-control", placeholder="Upper Boundary [m]") }}
          {% for error in form.errors.upper_boundary %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-2">
          <!--{{ form.lower_boundary.label }}-->
          {{ form.lower_boundary(size=20, class="form-control", placeholder="Lower Boundary [m]") }}
          {% for error in form.errors.lower_boundary %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-2">
          <!--{{ form.attribute.label }}-->
          {{ form.attribute(size=40, class="form-control", placeholder="Attribute") }}
          {% for error in form.errors.attribute %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-group col-xs-2">
          {{ form.value(size=40, class="form-control", placeholder="Value") }}
          <!--{{ form.value.label}}-->
          {% for error in form.errors.value %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
      <!-- End Row -->
    </div>
    <!-- Panel Body End-->
  </div>
  <!-- End Panel -->

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Record-ID</th>
        <th scope="col">Depth</th>
        <th scope="col">Upper Boundary</th>
        <th scope="col">Lower Boundary</th>
        <th scope="col">Properties</th>
      </tr>
    </thead>
    <tbody>
      {% for record in records %}
      <tr valign="top">
        <td>{{ record.id }}</td>
        <td>{{ record.depth }}</td>
        <td>{{ record.upper_boundary }}</td>
        <td>{{ record.lower_boundary }}</td>
        <td>{{ record.properties }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Table End-->

{% endblock %}
