{% extends "base.html" %}
{% block title %} - Map{% endblock %}

{% block head %}

  {{ super() }}

  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />

  <style>
    #map {
      width: auto;
      height: 600px;
    }
  </style>

{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Map of Sites <small>no function yet</small></h1>
  </div>

  <div id='map'></div>

  <script>
    var map = L.mapbox.map('map', 'leak-my-brain.ipkfmkei')
      .setView([30, 0], 2);
  </script>

{% endblock %}
