{% extends "base.html" %}
{% block title %} - Submit Record{% endblock %}

{% block content %}

    <h2>Create A New Site</h2>

    <form action="{{ url_for('new_site') }}" method="post">
        {{ form.hidden_tag() }}

        <p>
            Please enter a site name:<br>
            {{ form.site_name(size=40) }}<br>
            {% for error in form.errors.site_name %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
        </p>
        <p>
            Please enter X and Y Coordinates in Web Mercartor Projection:<br>
            {{ form.geom_x(size=40) }}
            {% for error in form.errors.geom_x %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
            {{ form.geom_y(size=40) }}
            {% for error in form.errors.geom_y %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}<br>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

{% endblock %}
